@charset "utf-8";
<style>
.carousel{
	position:relative;
	width:1224px;
	margin: 50px auto;
	overflow:hidden;
	--img-width:-1224px;
}
.imgWrap{
	width:9999px;
	height:500px;
	font-size: 0;
	transform:translateX(var(--img-width));
	transition:all .6s ease-in;
}
.imgWrap>img{
	width:1224px;
	height:500px;
}
.wardWrap{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	display:flex;
	justify-content: space-between;
	width:100%;
	padding: 0 50px;
	box-sizing: border-box;
}
.wardWrap>img{
	width:100px;
	height:100px;
	opacity:0;
	transition: opacity .1s linear;
}
.wardWrap>img:hover{
	opacity: 1;
}
.z-show>img{
	opacity:.48;
}
.cursors{
	position:absolute;
	bottom:20px;
	left:50%;
	transform: translateX(-50%);
	padding: 0;margin:0;
	list-style: none;
}
.cursors>li{
	display:inline-block;
	padding:12px 4px;
	font-size: 0;
	cursor: pointer;
}
.cursors i{
	display:inline-block;
	width:80px;height: 4px;
	background-color: #fff;
	opacity: .48;
	transition: opacity .3s;
}
.z-active i{
	opacity: 1;
}
.f-cb{float:left;}
.f-cb:after{display:block;clear:both;overflow:hidden;content:'';}
</style>
